@use '../../styles/variables' as *;

.User {
  display: flex;
  gap: 3rem;
  align-items: center;

  &__ImageContainer {
    width: 72px;
  }

  &__Image {
    width: 46px;
    height: 46px;
    margin: 0 auto;
  }

  &__Content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $graphite;
    padding-bottom: 1rem;
    align-items: center;
  }

  &__ToggleContainer {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
  }

  &__Buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
  }

  &__Button {
    color: $gray;
    cursor: pointer;
    border: none;
    display: flex;
    align-self: center;
  }
}
