@use '../../styles/variables' as *;

.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $lightGray;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
}
