@use "../../styles/variables" as *;

.container {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: $lightGray;
	display: flex;
	flex-direction: column;
	place-items: center;
	height: 100vh;
}
