@use '../../styles/variables' as *;

.InviteUserForm {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 5rem auto;
  padding: 4rem 6rem;
  box-shadow: 0px 0px 30px $shadow;

  &__Modal {
    background-color: $white;
    position: absolute;
    z-index: 4;
    width: 30%;
    right: 35%;
    top: 5vh;
  }

  &__Names {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    position: relative;
  }

  &__Email {
    display: flex;
    position: relative;
    width: 100%;
  }

  &__Role {
    position: relative;
    width: 50%;
  }

  &__Icon {
    align-self: center;
    position: absolute;
    left: -50px;
  }

  &__ButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
