@use '../../styles/variables' as *;

.InviteUserForm {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  margin: 5rem auto;
  padding: 3rem;
  box-shadow: 0px 0px 30px $shadow;

  &__Modal {
    background-color: $white;
    position: absolute;
    z-index: 4;
    width: 30%;
    right: 35%;
    top: 5vh;
  }

  &__Select {
    width: 100%;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid $graphite;

    &:focus {
      outline: none;
    }
  }
}
