$lightGray: rgb(243, 243, 243);
$semiGray: rgb(154, 154, 154);
$gray: rgb(198, 198, 198);
$graphite: rgb(0, 0, 0, 0.08);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$darkBlue: rgb(48, 94, 202);
$purple: rgb(126, 126, 241);
$lightRed: rgb(248, 151, 151);
$red: rgb(255, 0, 0);
$lightBlue: rgb(177, 212, 231);
$blue: rgb(68, 160, 211);
$shadow: rgba(0, 0, 0, 0.161);
$overlayBlack: rgba(0, 0, 0, 0.75);
$secondaryBlack: rgb(0, 0, 0, 0.08);
