$lightGray: rgb(243, 243, 243);
$gray: rgb(198, 198, 198);
$graphite: rgb(0, 0, 0, 0.08);
$black: rgb(0, 0, 0, 0.05);
$white: white;
$darkBlue: rgb(48, 94, 202);
$purple: rgb(126, 126, 241);
$lightRed: rgb(248, 151, 151);
$red: rgb(255, 0, 0);
$lightBlue: rgb(177, 212, 231);
$blue: rgb(68, 160, 211);
