@use '../../styles/variables' as *;

.FloatingButton {
  border: none;
  border-radius: 50%;
  width: 72px;
  aspect-ratio: 1;
  color: $white;
  position: absolute;
  top: -36px;
  padding: 0;

  &--blue {
    background-color: $darkBlue;
    cursor: pointer;
  }

  &--gray {
    background-color: $gray;
  }
}

.Container {
  position: relative;
  width: 100%;
  padding-left: 8rem;
}
