@use '../../styles/variables' as *;

.Error {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0px;
  color: $red;
  min-height: 25px;
  font-style: italic;

  &--noError {
    color: $green;
  }
}
