@use '../../styles/variables' as *;

.RoleSelect {
  &__Label {
    color: $blue;
    font-size: 0.75rem;
  }

  &__Select {
    background: transparent;
    width: 100%;
    padding-left: 0.5rem;
    border: none;
    border-bottom: 2px solid $graphite;

    &:focus {
      outline: none;
    }
  }
}
