@use '../../styles/variables' as *;

.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: $black 1px solid;
  background-color: $white;
  padding: 6rem 8rem 3rem 8rem;
}
