@use '../../styles/variables' as *;

.UserSetup {
  display: flex;
  height: 100%;
  gap: 5rem;
  padding: 4.5rem 8rem;

  &__Profile {
    height: inherit;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    &__Container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__ImgContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__Img {
      width: 15rem;
      aspect-ratio: 1;
    }

    &__ImageKeyContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 3rem;
      right: 0.25rem;
      width: 4.5rem;
      height: 3rem;
      border-radius: 100px;
      background-color: $purple;
    }

    &__ImageKey {
      width: 24px;
      height: 24px;
    }

    &__Upload {
      letter-spacing: 0px;
      color: $beige;
      text-transform: uppercase;
      text-align: center;
    }

    &__Info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__Email {
      text-align: center;
      letter-spacing: 0px;
    }
  }

  &__Details {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__Container {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    &__Form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__Status {
      display: flex;
      position: relative;

      &__Toggle {
        position: absolute;
        left: -53px;
      }
    }

    &__Btn {
      align-self: center;
    }
  }

  &__Permissions {
    flex-basis: 40%;
  }
}
